In [21]:
import pandas as pd
import statistics as st

In [22]:
data= {'Name': ['Mitu','Shahadat','Masud','Sourov','Mahi','Sumaiya'],
      'Age': [23,23,24,22,22,20],
      'Gender': ['F','M','M','M','F','F'],
      'Marks': [80,83,70,90,72,56]}

In [23]:
df =pd.DataFrame(data)
df

       Name  Age Gender  Marks
0      Mitu   23      F     80
1  Shahadat   23      M     83
2     Masud   24      M     70
3    Sourov   22      M     90
4      Mahi   22      F     72
5   Sumaiya   20      F     56

In [24]:
st.mean(df['Marks'])

75.16666666666667

In [26]:
st.median(df['Marks'])

76.0

In [27]:
st.mode(df['Marks'])

80

In [28]:
st.stdev(df['Marks'])

11.906580813426947

In [29]:
st.variance(df['Marks'])

141.76666666666668